{% extends 'base.html' %}
{% block conteudo %}
<style>
    body{
        background-image: url(../static/img/interface.png);
        background-size: cover;
    }

    #pq_site {
        color: white;
        width: 800px;
    }

    #text-gradient-color {
    background-image: linear-gradient(341deg,#07FFE1 23%,#47d49c 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 800px;
    }

    #text-gradient-color1 {
    background-image: linear-gradient(341deg,#07FFE1 23%,#6a9deb 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 800px;
    }

    #text-gradient-color2 {
    background-image: linear-gradient(341deg,#07FFE1 23%,#47d49c 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    }

    #intro {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 

    }
</style>
<title>Interfaces</title>
<div class="container">
    <br><br>
    <div id="intro">
        <h1 id="text-gradient-color1"><strong>Interfaces: simples e poderosas!</strong></h1>
        <br>
        <h3 id="pq_site">Interfaces gráficas, também conhecidas como GUIs (Graphical User Interfaces), 
            são sistemas de interação que permitem que os usuários <strong id="text-gradient-color">interajam</strong> com dispositivos eletrônicos, 
            programas de computador e aplicativos por meio de elementos visuais, como <strong id="text-gradient-color">ícones</strong>, 
            <strong id="text-gradient-color">botões</strong>, <strong id="text-gradient-color">janelas</strong> 
            e <strong id="text-gradient-color">menus</strong>, em vez de dependerem exclusivamente de comandos de texto ou de digitar linhas de código. 
            As interfaces gráficas são projetadas para tornar a interação com a tecnologia mais <strong id="text-gradient-color">intuitiva</strong> e amigável.</h3>
            <br>
        </div> 
        <a id="btn_card" class="btn btn-success" href="javascript:history.go(-1)">Voltar</a>
</div>
<br><br>
{% endblock conteudo %}

