{% extends 'base.html' %}
{% block conteudo %}
<style>
    body{
        background-image: url(../static/img/redes.png);
        background-size: cover;
    }

    #pq_site {
        color: white;
        width: 800px;
    }

    #text-gradient-color {
    background-image: linear-gradient(341deg,#07FFE1 23%,#47d49c 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 800px;
    }

    #text-gradient-color1 {
    background-image: linear-gradient(341deg,#07FFE1 23%,#6a9deb 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 800px;
    }

    #text-gradient-color2 {
    background-image: linear-gradient(341deg,#07FFE1 23%,#47d49c 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    }

    #intro {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 

    }
</style>
<title>Internet</title>
<div class="container">
    <br><br>
    <div id="intro">
        <h1 id="text-gradient-color1"><strong>Internet lenta? Saia do 4G!</strong></h1>
        <br>
        <h3 id="pq_site">Nem só de mensalidades vive o seu WI-FI! Problemas de <strong id="text-gradient-color">conectividade</strong>, 
            <strong id="text-gradient-color">perda de pacotes</strong> ou <strong id="text-gradient-color">queda de sinal</strong> 
            pode significar que seu modem ou roteador está com problemas. Aproveite e peça também uma reforma completa na sua rede <strong id="text-gradient-color">residencial</strong>, 
            <strong id="text-gradient-color">comercial</strong> ou <strong id="text-gradient-color">industrial</strong>!
        </h3>
            <br>
        </div> 
        <a id="btn_card" class="btn btn-success" href="javascript:history.go(-1)">Voltar</a>
</div>
<br><br>
{% endblock conteudo %}

